* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1200px;
    margin: auto;
}


/* 清除浮动开始 */
.clearfix:before,.clearfix:after { 
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* 清除浮动开结束*/


li {
    list-style: none;
}
body { 
    background-color: #d3d5d7;
}
a {
    text-decoration: none;
}
.box {
    margin-top: 30px;
}
.header {
    height: 42px;
    margin: 30px auto;
  /*   background-color: pink; */
}
.logo {
    float: left;
    width: 198px;
    height: 42px;
   
}
.nav {
    float: left;
    margin-left: 60px;

}
.nav ul li {
    float: left;
    margin: 0 15px;
}
.nav ul li a{
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;

}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.search {
    float: left;
    width: 450px;
    height: 42px;
 
    margin-left: 50px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px; 
    border: 1px solid #00a4ff ;
    border-right: 0;
    color: #cececf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: 51px;
    height: 42px;
    border: 0;
    background-image: url(images/button.png);
}
.user  {
    float:right;
    height: 42px;
    font-size: 14px;
    margin-right: 30px;
}
.banner{
    height: 421px;
    background-color: #1c036c;
}
.banner .w{
    height: 421px;
    background: url(images/banxin.png) no-repeat top center;
}
.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}
.subnav ul li  {
    line-height: 45px;
    padding: 0 20px;
}
.subnav ul li a {
    font-size: 14px;
    color:#ffffff;
  
}
.subnav ul li a span {
    float:right;
}
.subnav ul li a:hover{
    color: #00a4ff;
}
.course {
    float:right;
    width: 230px;
    height: 300px;
    background-color: #ffffff;
    margin-top: 50px;
}
.course h3 {
    background-color: #9bceea;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.bd {
    padding: 0 20px ;
}
.bd li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
    font-size: 14px;
    color: #4e4e4e;
}
.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
    

}
.bd a {
    display: block;
    height: 38px;
    line-height: 38px;
    border: 2px solid #00a4ff;;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    color: #00a4ff;
   
    
}
/* 精品推荐模块 */
.goods {
    height: 60px;
    background-color: #ffffff;
    margin-top: 10px;
    line-height: 60px;/* 行高会继承 */
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;

}
.goods ul{
  float: left;
  margin-left: 30px;

}
.goods ul li {
    float: left;
    font-size: 15px;
   
}
.goods .mod{
    float:right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.goods ul li a{
    padding: 0 30px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.box-hd  {
    height: 40px;
}
.box-hd h3{
    float: left;
    font-size: 20px;
    color: #494949;

}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 20px;
    margin-top: 5px;
}
.box-hd .four ul {
   margin-left: 430px;
}
/* .box-hd .four li{
   padding-right: 70px;
} */
.box-hd .four li a {
    display: block;
    float: left;
    color: #868686;
    font-size: 16px;
    padding-right: 50px;
}
.box-hd .four li a:hover {
    color: #00a4ff;
}
.box-bd ul  {
    width: 1215px;
}
.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #ffffff;
    margin-right: 15px;
    margin-bottom: 15px ;

}
.box-bd ul li >img {
    width: 100%;
}
.box-bd ul li h3 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;

}
.box-bd ul li em {
    position: absolute;
    right: -4px;
    top: 4px;
}
.box-bd ul li p{
    margin: 0 20px 0  25px;
    font-size: 12px;
    color: #999999;
}
.box-bd ul li p span {
    color: #ff9159;
}
.footer {
    height: 415px;
    background-color: #ffffff;
    margin-top: 35px;
}
.copyrigt {
    float: left;
}
.footer .w {
    padding-top: 35px;
   
}
.footer .w img {
    margin: 0 0 0 20px;
}

.footer .w p {
    margin: 20px 0 10px 20px;
    font-size: 12px;
    color: #666666;
}
.footer .w .copyrigt a {
    display: block;
    width: 116px;
    height: 33px;
    margin: 0 0 0 20px;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 33px;
    border: 1px solid #00a4ff;
}

.footer .w .links  {
    float: right;
    
}
.footer .w .links dl dt {
    font: 16px;
    color: #333333;
    margin-bottom: 5px;

}
.footer .w .links dl dd a {
    color: #333333;
    font-size: 12px;

}

.footer .w .links dl{
   float: left;
   margin-left: 100px;
}
.box-bd2 {
    height: 390px;
    background-color: #d3d5d7;
}
.box-bd2 .l {
    float: left;
}
.box-bd2 .r {
    float: right;
}
.box-bd2 .l img {
    width: 100%;
    height: 390px;
}
.box-bd2 .r .shang {
    height: 100px;
    margin-bottom: 15px;
   margin-left: 15px ;
}

.box-bd2 .r .xia ul li > img {
    width: 100%;
    
}
.box-bd2 .r .xia ul li{
    position: relative;
    float: right;
    width: 228px;
    height: 274px;
    background-color: #ffffff;
    margin-left: 15px;
    

}
.box-bd2 .r .xia ul li em {
    position: absolute;
    right: -4px;
    top: 4px;
}
.box-bd2 .r .xia ul li h4{
    font-size: 14px;
    margin: 20px 0 10px 0;
    color: 050505;
    margin-left: 20px;
    font-weight: 400;

}    
.box-bd2 .r .xia ul li p{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}
.box-bd2 .r .xia ul li span {
    color: #ff9159;
}


.b-d ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.b-d ul{
    width: 1215px;
}
.b-d ul li img{
    width: 100%;
}
.b-d ul li h4{
    font-size: 14px;
    margin: 20px 0 10px 0;
    color: 050505;
    margin-left: 20px;
    font-weight: 400;
} 
.b-d ul li p{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
  
}
.b-d ul li span {
    color: #ff9159;
    
}
.weixin {
    width: 100px;
    height: 100px;
}
.weixin img {
    width: 100%;
}

